:host{
  header{
    color: white;
    font-size: 3rem;
    font-style: italic;
    // display: flex !important;
    // justify-content: center !important;
    // align-items: center !important;
  }

  img{

  }
}
